# Example Configuration, copy this to config.toml and configure it to use.

[connect]
username = "" # Your RA Username
apiKey = "" # Your RA Api Key, retrieveable at https://retroachievements.org/settings
refreshInterval = 5 # Number of seconds between checking for achievement status.

[display]
achievementsPerRow = 8 # Achievements per row, raise and lower during runtime with keypad +/-
disableAutoMode = false # Auto-mode automatically targets the next unclaimed achievement, can be overridden with cursor keys.
hideMode = false # Hides Auto/Manual display in the lower right corner (automatically hidden if auto mode is disabled)